/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

#logo {
    height: 40px;
    padding: 0 40px 0 0;
    margin: 0;
}

.nav-link {
    padding-top: 8px;
    color: white;
}
header {
    position: sticky;
    position: -webkit-sticky;
    margin: 0;
    padding: 0;
}

#home-video {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -86px;
    top: 0;
    left: 0;
    z-index: -1;
}

/* styling for index.html, contact.html, signup.html */

.navbar {
    padding: 2px;
    margin: 0;
}

.me-2 {
    padding-top: 0; 
    padding-bottom: 0; 
    border: 1px solid darkred;
}

/* .btn-outline-success {
    background-color: darkred; 
    color: white; 
    border: 1px solid red; 
    padding-top: 0; 
    padding-bottom: 0;
} */

#bank-img-1, #bank-img-2  {
    width: 40%; 
    height: 40%;
}

.arrow-down {
    margin-top: -98px;
    margin-bottom: 50px;
    font-size: 40px;
    /*line-height: 1px;*/
    text-align: center;
    color: darkred;
    background-color: transparent;
}

#featured-3{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.container, .col-md-12 {
    background-color: darkred;
    /*border: 1px solid red;*/
    /* margin-top: 20px; */
}

.modal-dialog {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    z-index: -1; 
    margin-bottom: 20px;
}

.col-md-12 {
    max-width: 460px;
}

.col {
    background-color: darkred;
}

.form-control {
    color: darkred;
}

.btn {
    color: darkred; 
    background-color: antiquewhite ; 
    border: 2px solid rgb(114, 66, 7);
}

h1, h2, h3, .icon-link {
    color: white;
    text-decoration: none;
}

footer {
    position: sticky;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    z-index: -2;
}

#footer-text {
    text-align: center;
    color: darkred;
}

/* styling only for popup window in script.js*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.closing {
    position: absolute;
    background-color: white;
    color: darkred;
    border: 1px solid rgb(114, 66, 7);
    border-radius: 12px;
    top: 20px;
    right: 20px;
    font-size: 30px;
    padding: 0 12px;
    margin-right: 26px;
    cursor: pointer;
}

/* styling about.html details */
  
.card {
    margin-top: 20px;
    background-color: #8B0000;
    color: white;
}
.card1{
    font-size: larger;
    background-color: #8B0000;
    color: white;
    padding-bottom: 20px;
}

.card:hover{
    transform:scale(1.2);
}

.card:hover .collapse {
    display: block;
}

.collapse {
    display: none;
    transition: display 0.3s ease; 
}

/* styling signup.html details */

.signup-p {
    color: white; 
    font-size: 13px;
}
#address {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #bank-img-1, #bank-img-2 {
        width: 100vw;
    }
}
